.event-container.visible .event-card {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.event-card {
  opacity: 0;
}

.event-card.fade-in {
  opacity: 1;
}

.event-container {
  padding: 20px;
  width: 100%;
  padding: 20px 80px;
  position: relative;
  top: 20px;
}

.event-header {
  text-align: center;
  margin-bottom: 30px;
}

.event-title {
  text-align: center;
  margin-top: 0;
  font-size: 2.4rem;
  text-decoration: underline;
  font-weight: 800;
  color: rgb(92, 88, 88);
}

.see-all-link {
  color: #007bff;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}

.event-card-container {
  display: flex;
  justify-content: center;
}

.event-card {
  width: 100%;
  border: none;
  background-color: #333;
  border-radius: 10px;

}

.event-image {
  border-radius: 10px;
  height: 70vh;
  width: 100%;
}

.card-overlay {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);
}

.event-details {
  padding: 20px;
}

.event-name {
  font-size: 28px;
  color: #fff;
  position: absolute;
  left: 75px;
  top: 75px;
  width: 200px;
  height: auto;
  border: none;
  background: rgb(28,138,206);
  background: linear-gradient(90deg, rgba(28,138,206,1) 0%, rgba(198,108,161,1) 50%, rgba(255,0,0,1) 100%);
  text-align: center;
  border-radius: 8px;
  padding: 5px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

.event-description {
  position: absolute;
  font-size: 22px;
  font-weight: 500;
  color: #fff;
  left: 75px;
  bottom: 75px;
  
}

.event-date {
  font-size: 20px;
  color: #fff;
    
}
