.selected-image-container {
  position: fixed;
  top: 20px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(37, 37, 37);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Increased z-index value */
  margin-top: -20px;
}

.selected-image {
  max-width: 90%;
  max-height: 90%;
  border: 4px solid #fff;
  position: absolute;
}

.close-button {
  position: absolute;
  top: 0px;
  right: 0;
  padding: 15px 45px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bolder;
  font-size: 40px;
  color: #fff;
}

.close-button:hover {
  background-color: transparent;
}

.close-button p {
  position: relative;
  top: -20px;
  right: 20px;
}

.gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .gallery-title {
  font-size: 24px;
  margin-bottom: 20px;
} */

.image-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 10px; 
  justify-content: center; 
}



.gallery-image {
  padding: 5px;
  cursor: pointer;
  object-fit: cover;
  width: 300px;
  height: 400px;
  transition: transform 0.3s ease; /* Add transition for smooth zoom effect */
}

.gallery-image:hover {
  transform: scale(1.03); /* Zoom effect on hover */
  z-index: 1; /* Ensure image appears on top when zoomed */
  position: relative; /* Fix the position of the image */
}


.selected-image {
  max-width: 100%;
  max-height: 80vh;
}

.top {
  background-color: #00000075; 
  padding: 10px;
  position: absolute;
  top: 0px;
  z-index: 999;
  width: 100%;
  height: 60px;
} 
  

.zoom-controls button {
  width: 45px;
  height: 42px;
  font-weight: bolder;
  font-size: 35px;
  background-color: transparent;
  border: none;
  color: #fff;
  padding: 5px;
  margin-top: -10px;
}

.zoom-controls button:hover{
  background-color: transparent;
}
.zoom-in {
 position: absolute;
 right: 95px;
}

.zoom-out {
  right: 60px;
  position: absolute;
 
}

.zoom-controls p {
  position: absolute;
  top: 0px;
  
}

.next-button {
  margin-right: -1450px;  
  width: 60px;
  height: 80px;
  font-weight: bolder;
  font-size: 40px;
  background-color: #00000075;
  color: white;
  border: none;
  z-index: 99; 
}

.next-button p{
  margin-left: -7px;
}

.next-button:hover {
  background-color: #000000ad;
}

.previous-button {
  position: absolute;
  margin-left: -1450px;
  z-index: 1;
  float: left;
  background-color: #00000075;
  color: white;
  border: none;
  width: 60px;
  height: 80px;
  font-weight: bolder;
  font-size: 40px;
}

.previous-button p{
  margin-left: -10px;
}
.previous-button:hover {
  background-color: #000000ad;
}

.gallery-container h3 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 3rem;
  text-decoration: underline;
  font-weight: 900;
  color: #c3073f;
}

/* .selected-image-container p{
  position: absolute;

} */